
 /* -------------------------------------------------------------------------------------- TABLET */
 @media (min-width: 768px) and (max-width: 1000px) {

  
  body {
    background-repeat: no-repeat;
  }

  .main { /* ---------------------------------------------------------------------------- Main */
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 2rem;
  }

  .musica {
    position: fixed;
    height: 1rem;
    width: auto;
    bottom: 1rem;
    left: 1rem;
  }


  .portada { /* ---------------------------------------------------------------------------- Hero */
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    margin: 0;
  }
    
  .portada-texto {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    width: 88%;
  }

  .portada-foto {
    justify-content: center;
    width: 95%;
  }

  #boton-hero {
    justify-content: center;
    width: 100%;
    padding: 0%;
  }




  .navbar { /* ------------------------------------------------------------------------------ Navbar */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .logo {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


  .cards { /* ------------------------------------------------------------------- Cards */
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3rem;
    }


  .cards-titulo {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3rem;
    }  

  
  .entradas {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 3rem;
    }



  .contacto { /* ------------------------------------------------------------------ Contacto */
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
 }

 .botones-contacto {
  display: block;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    width: 75%;;
}

.row-items {
  display: flex;
  justify-content: center;
    width: 75%;
}

.redes-contacto img {
  margin-bottom: 4rem;
  justify-content: center;
  align-self: center;
  width: 8%;
}

.redes-contacto {
  justify-content: center;
  align-self: center;
  width: 75%;
}

.gif-contacto {
  display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 5rem;
}




.footer { /* -------------------------------------------------------------------------- Footer */
  display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

} 
  













  /* -------------------------------------------------------------------------------------- CELULAR */

  @media (min-width: 125px) and (max-width: 767px) {

    body {
      background-repeat: no-repeat;
    }
  
    .main { /* ---------------------------------------------------------------------------- Main */
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      padding-top: 2rem;
    }
  
    .musica {
      position: fixed;
      height: 1rem;
      width: auto;
      bottom: 1rem;
      left: 1rem;
    }
  
  
    .portada { /* ---------------------------------------------------------------------------- Hero */
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      padding: 1rem;
      margin: 0;
    }
      
    .portada-texto {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 2rem;
      width: 88%;
    }
  
    .portada-foto {
      justify-content: center;
      width: 95%;
    }
  
    #boton-hero {
      justify-content: center;
      width: 100%;
      padding: 0%;
    }
  
  
  
  
    .navbar { /* ------------------------------------------------------------------------------ Navbar */
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    
    .logo {
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
  
    .cards { /* ------------------------------------------------------------------- Cards */
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 3rem;
      }
  
  
    .cards-titulo {
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 3rem;
      }  
  
    
    .entradas {
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding-bottom: 3rem;
      }
  
  
  
    .contacto { /* ------------------------------------------------------------------ Contacto */
      display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
   }
  
   .botones-contacto {
    display: block;
      flex-direction: row;
      align-items: center;
      align-content: center;
      text-align: center;
      justify-content: center;
      width: 75%;;
  }
  
  .row-items {
    display: flex;
    justify-content: center;
      width: 75%;
      vertical-align: middle;
  }
  
  .redes-contacto img {
    margin-bottom: 4rem;
    justify-content: center;
    align-self: center;
    width: 8%;
  }
  
  .redes-contacto {
    justify-content: center;
    align-self: center;
    width: 75%;
  }
  
  .gif-contacto {
    display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 6rem;
      margin-bottom: 5rem;
  }
  
  
  
  
  .footer { /* -------------------------------------------------------------------------- Footer */
    display: block;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
  }
  
  
  
  
  
  } 
    
  
  
  