body {
    background-color: #540000;
    color: #fff

} 
          


.navbar {
    width: fit-content;
    position: fixed;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
} 

.navbar.scrolled {
    background-color: #000; /* Cambia el color de fondo al hacer scroll */
  }


    .logo {
        align-content: start;
        height: auto;
        width: 10rem;
        margin: 0;
        padding: 0;
    } 

    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      .navbar li {
        display: inline;
        margin-left: 20px;
      }

      .navbar a {
        text-decoration: none;
        color: #fff;
      } 



